<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width initial-scale=1.0">-->
    <title>饺子榜-集资分布</title>

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/echarts.min.js"></script>

    <link rel="stylesheet" href="/static/css/base.min.css">
    <link rel="Shortcut Icon" href="/static/images/logo.ico">

</head>
<body>

    <div class="nav">
        <div class="inner-nav-wrapper">
            <div class="nav-item google-table">
                <a href="https://docs.google.com/spreadsheets/d/1-iJjdMkQhkoIag01P21djys7f9DIdsAzT6YWATG2W04/edit#gid=1471363713">饺子榜2017&nbsp;</a>
                <a href="https://docs.google.com/spreadsheets/d/1vjgn01WMTbeLyqiinTGccEFMnpeAlCiUlvNr7Zm11kU/edit?pli=1#gid=1831524129">&nbsp;饺子榜2018</a>
            </div>
            <div class="nav-item main-title">
                <div class="logo-wrapper">
                    <img src="/static/images/DumplingRankLogo.jpg" alt="">
                </div>
                <span class="title-wrapper">
                    <a href="/">SNH48-饺子榜</a>
                </span>
                <span class="year-wrapper">2019</span>
            </div>
            <div class="nav-item about-us">
                <a href="/about_us/">关于我们</a>
            </div>
        </div>
        <div class="theme">
            <span><button class="theme-dark theme-btn">深色主题</button></span>
            <span><button class="theme-light theme-btn">浅色主题</button></span>

            <script src="/static/js/theme.min.js"></script>
        </div>
    </div>
    
    
    <link rel="stylesheet" href="/static/css/percentage.min.css">

    <div class="main">
        <div class="inner-main-wrapper">
            <div class="percentage-wrapper">
                <div id="percentage" class="inner-percentage-wrapper"></div>
            </div>
            <div class="top-member-wrapper">
                <div id="top-member" class="inner-top-member-wrapper"></div>
            </div>
        </div>
    </div>

    <script src="/static/js/percentage.min.js"></script>



    <div class="footer">
        <div class="inner-footer-wrapper">
            <ul class="external-links">
                <li class="links">
                    <a href="https://weibo.com/u/2827120175" target="_blank">
                        饺子榜微博
                    </a>
                </li>
                <li class="links">
                    <a href="https://www.modian.com/" target="_blank">
                        摩点网
                    </a>
                </li>
                <li class="links">
                    <a href="https://www.echartsjs.com/" target="_blank">
                        eCharts
                    </a>
                </li>
                <li class="links">
                    <a href="http://www.snh48.com/" target="_blank">
                        SNH48
                    </a>
                </li>
                <li class="links">
                    <a href="http://www.bej48.com/" target="_blank">
                        BEJ48
                    </a>
                </li>
                <li class="links">
                    <a href="http://www.gnz48.com/" target="_blank">
                        GNZ48
                    </a>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>