@import "base";
@import "init";

.main {
	
	.about-us-main-wrapper {
		width: $mainWidth + 20px;
		height: $mainHeight;
		margin: 0 auto;
		background: $wrapperColor;
		
		.about-us-inner-main-wrapper {
			width: $mainWidth - 2px;
			height: $mainHeight - 22px;
			margin-top: 10px;
			margin-left: 10px;
			border: 1px solid $wrapperBorderColor;
			float: left;
			
			h1 {
				text-align: center;
				margin-top: 30px;
			}
			
			p {
				font-size: 22px;
				font-weight: 500;
				line-height: 36px;
				font-family: $mainFont;
				padding: 10px 40px;
			}
		}
	}
}