
@import "init";


/* Basic main style */
.main{
	//width: 100%;
	//height: $mainHeight;
	
	.main-wrapper{
		width: $mainWidth + 20px;
		height: $mainHeight;
		margin: 0 auto;
		background: $wrapperColor;
			
		.pk-inner-main-wrapper{
			width: $mainWidth - 2px;
			height: $mainHeight - 22px;
			margin-top: 10px;
			margin-left: 10px;
			border: 1px solid $wrapperBorderColor;
			float: left;
		}
	}
	
	.select-wrapper{
		width: 200px;
		height: 500px;
		//float: left;
		display: inline-block;
		//margin-left: 20px;
		position: absolute;
		top: 55px;
		right: 20px;
		overflow: auto;		// scroll bar
		
		select{
			min-width: 200px;
			height: 30px;
			border: 1px solid $wrapperBorderColor;
			background: $mainFontColor;
			font-family: 微软雅黑;
			font-size: 20px;
		}
		
		ul{
			display: none;
			list-style: none;
			margin: 0;
			padding: 0;
			border: 1px solid #eee;
			
			.li-team{
				//border-top: 1px solid #eee;
				font-size: 22px;
				margin-top: 10px;
				margin-bottom: 5px;
				margin-left: 10px;
				
				.label-team{
					height: 50px;
				}
			}
		}
		
		li{
			label{
				display: block;
				padding: 2px 10px;
				white-space: nowrap;
			}
			
			.label-sii{
				color: $colorSNH48;
			}
			
			.label-nii{
				color: $colorNII;
			}
			
			.label-hii{
				color: $colorHII;
			}
			
			.label-x{
				color: $colorX;
			}
			
			.label-b{
				color: $colorB;
			}
			
			.label-e{
				color: $colorE;
			}
			
			.label-j{
				color: $colorJ;
			}
			
			.label-g{
				color: $colorG;
			}
			
			.label-niii{
				color: $colorNIII;
			}
			
			.label-z{
				color: $colorZ;
			}
		}
		
		li:hover{
			background: #aabbcc;
		}
	}
	
	input{
		float: right;
	}
}

