
@import "init";


/* Basic main style */
.main{
	width: 100%;
	height: $mainHeight;
	
	.inner-main-wrapper{
		width: $mainWidth + 20px;
		margin: 0 auto;
		//margin-top: 5px;
		overflow: hidden;
		
		.left-wrapper{
			width: $sideBarWidth;
			height: $mainHeight;
			float: left;
			margin-right: 10px;
			position: relative;
			
			.detail-growth{
				width: 45px;
				height: 30px;
				color: $mainFontColor;
				background: $wrapperBorderColor;
				cursor: pointer;
				border: none;
				position: absolute;
				top: 20px;
				left: 335px;
				z-index: 100;
				font-family: 微软雅黑;
				//font-weight: bold;
			}
			
			
			.growth-figure{
				width: $sideBarWidth;
				height: $mainHeight / 2 - 5px;
				margin-bottom: 10px;
				background: $wrapperColor;
				overflow: hidden;
				
				.inner-growth-figure{
					width: $sideBarWidth - 20px;
					height: $mainHeight / 2 - 25px;
					box-sizing: border-box;
					border: 1px solid $wrapperBorderColor;
					float: left;
					margin-top: 10px;
					margin-left: 10px;
					padding: 5px;
					//cursor: pointer;
				}
			}
			
			.percentage-figure{
				width: $sideBarWidth;
				height: $mainHeight / 2 - 5px;
				margin-bottom: 10px;
				background: $wrapperColor;
				overflow: hidden;
				position: relative;
				
				.detail-percentage{
					width: 45px;
					height: 30px;
					color: $mainFontColor;
					background: $wrapperBorderColor;
					cursor: pointer;
					border: none;
					position: absolute;
					top: 20px;
					left: 335px;
					z-index: 100;
					font-family: 微软雅黑;
				}
				
				.inner-percentage-figure{
					width: $sideBarWidth - 20px;
					height: $mainHeight / 2 - 25px;
					box-sizing: border-box;
					border: 1px solid $wrapperBorderColor;
					float: left;
					margin-top: 10px;
					margin-left: 10px;
					padding: 5px;
				}
			}
		}
		
		.center-wrapper{
			width: $mainTableWidth;
			height: $mainHeight;
			float: left;
			background: $wrapperColor;
			box-sizing: border-box;
			
			.middle-center-wrapper{
				width: $mainTableWidth - 20px;
				height: $mainHeight - 20px;
				box-sizing: border-box;
				border: 1px solid $wrapperBorderColor;
				float: left;
				margin-top: 10px;
				margin-left: 10px;
				padding: 5px;
				overflow: hidden;
				
				.inner-center-wrapper{
					width: $mainTableWidth - 35px;
					height: $mainHeight - 36px;
					box-sizing: border-box;
					border: 1px solid $wrapperBorderColor;
					float: left;
					margin-top: 2px;
					margin-left: 2px;
					padding: 2px;
					
					.table-title{
						width: $mainTableWidth - 50px;
						height: 50px;
						line-height: 50px;
						text-align: center;
						font-size: $tableTitleSize;
						font-weight: 800;
						background: $wrapperBorderColor;
						margin-left: 5px;
						margin-top: 5px;
					}
					
					.table-wrapper{
						padding: 5px;
					}
				}
			}
		}
		
		.right-wrapper{
			width: $sideBarWidth;
			height: $mainHeight;
			float: right;
			background: $wrapperColor;
			
			.ad-wrapper{
				width: $sideBarWidth - 10px;
				height: $mainHeight;
				margin-left: 10px;
				margin-top: 10px;
				float: left;
				//margin-bottom: 10px;
				
				.banner-group{
				
				}
			}
		}
	}
}


/* Main table style */
.main{
	.inner-main-wrapper{
		.center-wrapper{
			.middle-center-wrapper{
				.inner-center-wrapper{
					.table-wrapper{
						height: $mainHeight - 155px;
						margin-top: 5px;
						font-size: 18px;
						
						.main-table{
							//padding: 10px;
							width: $mainTableWidth - 50px;
							border-collapse: collapse;
							background-image: url("https://wx1.sinaimg.cn/mw690/006a04EHgy1g160qo0p10j30dw0d7dfr.jpg");
							
							.tr-even{
								//background: $wrapperBorderColor;
								background: rgba(34, 46, 77, 0.25);
								//opacity: 0.8;
							}
							
							.tr-rank{
								font-size: 14px;
								line-height: 28px;
								cursor: pointer;
							}
							
							.tr-last-group{
								line-height: 25px;
							}
							
							tr{
								//cursor: pointer;
								th{
									background: $wrapperBorderColor;
									height: 30px;
									line-height: 30px;
									font-weight: 800;
								}
							}
							
							td{
								text-align: center;
							}
						}
					}
					
					.table-page-wrapper{
						width: $mainTableWidth - 50px;
						height: 40px;
						margin-top: 8px;
						
						ul{
							margin-left: 50px;
							li{
								button{
									width: 65px;
									height: 30px;
									color: $mainFontColor;
									background: $wrapperBorderColor;
									border: none;
									cursor: pointer;
								}
								
								#p-more{
									//font-family: 微软雅黑;
									font-weight: bold;
								}
								
								#descendant-btn{
									font-weight: bold;
								}
							}
						}
					}
				}
			}
		}
	}
}


/* ad */
//.main{
//	.inner-main-wrapper{
//		.right-wrapper{
//			.ad-wrapper{
//				.banner-group{
//					position: relative;
//					overflow: hidden;
//					z-index: 0;
//					width: $sideBarWidth - 20px;
//					height: $mainHeight / 2 - 5px - 20px;
//					box-sizing: border-box;
//					//border: 1px solid $wrapperBorderColor;
//					float: left;
//					margin-top: 10px;
//					margin-left: 10px;
//					padding: 5px;
//
//					.banner-ul{
//							overflow: hidden;
//							//width: $bannerWidth*4;
//							position: absolute;
//							left: 0;
//
//							li{
//								float: left;
//								width: $sideBarWidth;
//								height: $mainHeight / 2;
//								//width: $bannerWidth;
//								//height: $bannerHeight;
//
//								img{
//									width: 100%;
//									height: 100%;
//								}
//							}
//						}
//
//					.arrow{
//						font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
//						font-size: 120px;
//						color: #ffffff;
//						position: absolute;
//						top: 50%;
//						margin-top: -85px;
//						cursor: pointer;
//						display: none;
//					}
//
//					.left-arrow{
//						left: 20px;
//					}
//
//					.right-arrow{
//						right: 20px;
//					}
//
//					.page-control-group{
//						position: absolute;
//						left: 0;
//						right: 0;
//						bottom: 20px;
//
//						.page-control{
//							// width: (8 * 2 + 12) * 4px;
//							margin: 0 auto;
//							overflow: hidden;
//
//							li{
//								width: 12px;
//								height: 12px;
//								border: 1px solid $lineColor;
//								border-radius: 50%;
//								float: left;
//								margin: 0 8px;
//								box-sizing: border-box;
//								cursor: pointer;
//
//								&.active{
//									background: $lineColor;
//								}
//							}
//						}
//					}
//				}
//			}
//		}
//	}
//}


