a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}


$mainWidth: 1350px;
//$mainHeight: 770px;
$mainHeight: 630px;
$sideBarWidth: 400px;
$leftSubBarHeight: 250px;
$mainTableWidth: $mainWidth - $sideBarWidth * 2;
$navHeight: 50px;
$footerHeight: 50px;
$bannerHeight: 258px;
$bannerWidth:798px;
$tableTitleSize: 26px;

$lineColor: #eee;
$backgroundColor: #121A20;
$wrapperColor: #19232F;
$wrapperBorderColor: #222e3f; // rgba(34, 46, 77, 0.3)
$tableHeaderColor: #222e3f;
$mainFontColor: #C0DAFF;

$colorSNH48: #00b6de;
$colorBEJ48: #ff4083;
$colorGNZ48: #9FBF40;
$colorSII: #00b6de;
$colorNII: #9e57b4;
$colorHII: #f8941d;
$colorX: #b1d61b;
$colorB: #ff4083;
$colorE: #0cc8c3;
$colorJ: #006ab7;
$colorG: #9FBF40;
$colorNIII: #ffe249;
$colorZ: #ea617b;

$backgroundColorLight: #f7f7f7;