
@import "base";
@import "init";

$wrapperWidth: 350px;
$wrapperHeight: 400px;
$tagWidth: $wrapperWidth - 42px;
$marginHeight: ($mainHeight - $wrapperHeight) / 2 + 10px;

.main{
	width: 100%;
	
	.login-inner-main-wrapper{
		width: $wrapperWidth;
		height: $wrapperHeight;
		background: $wrapperColor;
		margin: $marginHeight auto;
		
		.login-center-wrapper{
			width: $wrapperWidth - 22px;
			height: $wrapperHeight - 22px;
			border: 1px solid $wrapperBorderColor;
			float: left;
			margin-left: 10px;
			margin-top: 10px;
			
			.login-title{
				width: $tagWidth;
				height: 100px;
				background: $wrapperBorderColor;
				float: left;
				margin-left: 10px;
				margin-top: 10px;
				font-size: 30px;
				font-family: $fontKai;
				font-weight: bold;
				line-height: 50px;
				text-align: center;
			}
			
			.login-wrapper{
				.login-form{
					.login-input {
						width: $tagWidth - 4px;
						height: 30px;
						float: left;
						margin-left: 10px;
						margin-top: 10px;
					}
					
					button{
						width: $tagWidth - 1px;
						height: 50px;
						border: none;
						background: #6363e1;
						font-size: 30px;
						font-weight: bold;
						text-align: center;
						line-height: 50px;
						float: left;
						margin-left: 10px;
						margin-top: 20px;
						padding: 0;
						font-family: $mainFont;
						color: $mainFontColor;
					}
				}
			}
		}
	}
}