{% extends 'base.html' %}

{% block title %}饺子榜-关于我们{% endblock %}

{% block main %}
    <link rel="stylesheet" href="{% static '/css/about_us.min.css' %}">
    <div class="main">
        <div class="about-us-main-wrapper">
            <div id="about-us-wrapper" class="about-us-inner-main-wrapper">
                <h1>关于SNH48-饺子榜</h1><br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SNH48-饺子榜是由SNH48 GROUP的粉丝自发成立的应援组织。我们致力于收集、整理、分析和分享与SNH48 GROUP相关的数据，特別是每年盛夏举行的SNH48 GROUP偶像年度人气总决选（简称“总选”）的粉丝众筹集资活动。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;饺子榜通过统计粉丝线上集资，对各应援会的集资情况进行汇总，作为分析总选终报排名的参考。从过往的统计结果来看，饺子榜的集资排名与总选的最终排名高度相关，特别是“选拔组”（即总选前十六名）的排名，和饺子榜排名高度重合。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;今年是饺子榜第三次统计总选集资。与往年不同的是，今年我们开发了一个可视化网站，通过表格、曲线、柱状图等方式更加直观的展示统计结果。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;饺子榜秉承客观、透明的原则，开放所有统计数据， 供感兴趣的粉丝核对。为避免对粉丝集资造成负面影响，饺子榜在总选终报前会暂停公开更新，并在总选结束后重新开放。我们欢迎其他组织和个人转载饺子榜的统计结果，但不得用于商业用途，并请在转载时注明出处。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;饺子榜统计的所有数据均来自互联网，我们无法保证数据百分百准确，统计结果仅供参考。饺子榜保留对所有统计结果的最终解释权。</p>
            </div>
        </div>
    </div>

{% endblock %}