{% extends 'base50.html' %}

{% block title %}
    Best 50 网站声明
{% endblock %}

{% block main %}
    <link rel="stylesheet" href="{% static '/css/b50_declaration.min.css' %}">

    <div class="declaration-wrapper">
        <h3>网 站 声 明</h3>
        <p>&nbsp &nbsp &nbsp &nbsp &nbspSNH48 GROUP年度金曲大赏BEST50 REQUEST TIME（简称“B50”）是SNH48每年举办一次的金曲演唱会，截止目前已经成功举办了五届。B50的曲目和演出成员的组合均由粉丝投票选出。2019年12月21日，SNH48将在广州体育馆举办第六届金曲大赏演唱会。</p>
        <p>&nbsp &nbsp &nbsp &nbsp &nbsp本网站由SNH48-饺子榜——一个致力于SNH48相关数据统计和分析的粉丝应援组织——开发和维护，用于统计本届B50的粉丝选曲相关数据。SNH48-饺子榜秉承中立、客观和透明的原则，公开所有统计数据，并欢迎广大粉丝不吝指正。</p>
        <p>&nbsp &nbsp &nbsp &nbsp &nbspSNH48-饺子榜仅负责B50相关数据的收集和统计，不对数据的准确性、完整性和可靠性负责，所有统计结果仅供参考，最终金曲排名以官方演唱会为准。对本网站展示的所有内容，SNH48-饺子榜保留最终解释权。</p>
    </div>
{% endblock %}