{% extends 'base50.html' %}

{% block title %}
    Best 50 首页
{% endblock %}

{% block main %}
    <link rel="stylesheet" href="{% static '/css/b50_index.min.css' %}">
    <script src="{% static '/js/b50_index.min.js' %}"></script>

    <div class="table-wrapper">
        {% csrf_token %}
        <div class="detail-wrapper">
            <button class="detail-btn">
                <a href="{% url 'b50_detail' %}">集资详情</a>
            </button>
        </div>
        <div class="table-title-wrapper">
            <div class="rank">序号</div>
            <div class="song">歌曲</div>
            <div class="actress">参演成员</div>
            <div class="type">类型</div>
            <div class="total-amount">集资总额</div>
        </div>
        <table class="main-table">
            <tbody id="main-table-tbody">

            </tbody>
        </table>

        <table style="display: none;">
            <tbody id="model-tbody">
                <tr id="" class="tr-rank">
                    <td class="rank-no"></td>
                    <td class="rank-song"></td>
                    <td class="rank-actress"></td>
                    <td class="rank-type"></td>
                    <td class="rank-total-amount"></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}