<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/js/echarts.min.js' %}"></script>

</head>
<body>

    <div class="nav">
        <div class="inner-nav-wrapper">
            <div class="nav-item google-table">
                <a href="#">谷歌表格</a>
            </div>
            <div class="nav-item main-title">
                <span class="title-wrapper">
                    饺子榜2019
                </span>
            </div>
            <div class="nav-item about-us">
                <a href="{% url 'about_us' %}">关于我们</a>
            </div>
        </div>
    </div>
    
    {% block main %}{% endblock %}

    <div class="footer">
        <div class="inner-footer-wrapper">
            <ul class="external-links">
                <li class="links">
                    <a href="https://weibo.com/u/2827120175" target="_blank">
                        饺子榜微博
                    </a>
                </li>
                <li class="links">
                    <a href="https://www.modian.com/" target="_blank">
                        摩点网
                    </a>
                </li>
                <li class="links">
                    <a href="https://www.echartsjs.com/" target="_blank">
                        Echarts
                    </a>
                </li>
                <li class="links">
                    <a href="http://www.snh48.com/" target="_blank">
                        SNH48
                    </a>
                </li>
                <li class="links">
                    <a href="http://www.bej48.com/" target="_blank">
                        BEJ48
                    </a>
                </li>
                <li class="links">
                    <a href="http://www.gnz48.com/" target="_blank">
                        GNZ48
                    </a>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>