{% extends 'base.html' %}

{% block title %}饺子榜-首页{% endblock %}

{% block main %}
    <script src="{% static '/js/ad.min.js' %}"></script>
    <script src="{% static 'js/main_table_page_control.min.js' %}"></script>

    <link rel="stylesheet" href="{% static '/css/index.min.css' %}">

    <div class="main">
        {% csrf_token %}
        <div class="inner-main-wrapper">

            <div class="left-wrapper">
                <div id="growth" class="growth-figure">
                    <button class="detail-growth" onclick="window.open({% url 'growth' %})">更多</button>
                    <div id="inner-group" class="inner-growth-figure"></div>
                </div>

                <div id="percentage" class="percentage-figure">
                    <button class="detail-percentage" onclick="window.open({% url 'percentage' %})">更多</button>
                    <div id="inner-percentage" class="inner-percentage-figure"></div>
                </div>
            </div>

            <div class="center-wrapper">
                <div class="middle-center-wrapper">
                    <div class="inner-center-wrapper">
                        <div class="table-title">
                            <div class="inner-table-title">
                                 <span class="total-amount-txt">集资总额 </span>
                                 <span id="amount-total"></span>
                            </div>
                        </div>
                        <div class="table-wrapper">
                            <table class="main-table">
                                <tr class="table-head">
                                    <th>排名</th>
                                    <th>姓名</th>
                                    <th>集资总额</th>
                                    <th>折合票数</th>
                                </tr>
                                <tr id="tr-rank-1" class="tr-rank tr-odd tr-p1">
                                    <td class="rank-no">1</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-2" class="tr-rank tr-even tr-p1">
                                    <td class="rank-no">2</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-3" class="tr-rank tr-odd tr-p1">
                                    <td class="rank-no">3</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-4" class="tr-rank tr-even tr-p1">
                                    <td class="rank-no">4</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-5" class="tr-rank tr-odd tr-p1">
                                    <td class="rank-no">5</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-6" class="tr-rank tr-even tr-p1">
                                    <td class="rank-no">6</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-7" class="tr-rank tr-odd tr-p1">
                                    <td class="rank-no">7</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-8" class="tr-rank tr-even tr-p1">
                                    <td class="rank-no">8</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-9" class="tr-rank tr-odd tr-p1">
                                    <td class="rank-no">9</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-10" class="tr-rank tr-even tr-p1">
                                    <td class="rank-no">10</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-11" class="tr-rank tr-odd tr-p1">
                                    <td class="rank-no">11</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-12" class="tr-rank tr-even tr-p1">
                                    <td class="rank-no">12</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-13" class="tr-rank tr-odd tr-p1">
                                    <td class="rank-no">13</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-14" class="tr-rank tr-even tr-p1">
                                    <td class="rank-no">14</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-15" class="tr-rank tr-odd tr-p1">
                                    <td class="rank-no">15</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-16" class="tr-rank tr-even tr-p1">
                                    <td class="rank-no">16</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>

                                <tr id="tr-rank-17" class="tr-rank tr-odd tr-p2">
                                    <td class="rank-no">17</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-18" class="tr-rank tr-even tr-p2">
                                    <td class="rank-no">18</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-19" class="tr-rank tr-odd tr-p2">
                                    <td class="rank-no">19</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-20" class="tr-rank tr-even tr-p2">
                                    <td class="rank-no">20</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-21" class="tr-rank tr-odd tr-p2">
                                    <td class="rank-no">21</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-22" class="tr-rank tr-even tr-p2">
                                    <td class="rank-no">22</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-23" class="tr-rank tr-odd tr-p2">
                                    <td class="rank-no">23</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-24" class="tr-rank tr-even tr-p2">
                                    <td class="rank-no">24</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-25" class="tr-rank tr-odd tr-p2">
                                    <td class="rank-no">25</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-26" class="tr-rank tr-even tr-p2">
                                    <td class="rank-no">26</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-27" class="tr-rank tr-odd tr-p2">
                                    <td class="rank-no">27</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-28" class="tr-rank tr-even tr-p2">
                                    <td class="rank-no">28</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-29" class="tr-rank tr-odd tr-p2">
                                    <td class="rank-no">29</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-30" class="tr-rank tr-even tr-p2">
                                    <td class="rank-no">30</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-31" class="tr-rank tr-odd tr-p2">
                                    <td class="rank-no">31</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-32" class="tr-rank tr-even tr-p2">
                                    <td class="rank-no">32</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>

                                <tr id="tr-rank-33" class="tr-rank tr-odd tr-p3">
                                    <td class="rank-no">33</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-34" class="tr-rank tr-even tr-p3">
                                    <td class="rank-no">34</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-35" class="tr-rank tr-odd tr-p3">
                                    <td class="rank-no">35</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-36" class="tr-rank tr-even tr-p3">
                                    <td class="rank-no">36</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-37" class="tr-rank tr-odd tr-p3">
                                    <td class="rank-no">37</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-38" class="tr-rank tr-even tr-p3">
                                    <td class="rank-no">38</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-39" class="tr-rank tr-odd tr-p3">
                                    <td class="rank-no">39</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-40" class="tr-rank tr-even tr-p3">
                                    <td class="rank-no">40</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-41" class="tr-rank tr-odd tr-p3">
                                    <td class="rank-no">41</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-42" class="tr-rank tr-even tr-p3">
                                    <td class="rank-no">42</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-43" class="tr-rank tr-odd tr-p3">
                                    <td class="rank-no">43</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-44" class="tr-rank tr-even tr-p3">
                                    <td class="rank-no">44</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-45" class="tr-rank tr-odd tr-p3">
                                    <td class="rank-no">45</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-46" class="tr-rank tr-even tr-p3">
                                    <td class="rank-no">46</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-47" class="tr-rank tr-odd tr-p3">
                                    <td class="rank-no">47</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-48" class="tr-rank tr-even tr-p3">
                                    <td class="rank-no">48</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>

                                <tr id="tr-rank-49" class="tr-rank tr-odd tr-p4 tr-last-group">
                                    <td class="rank-no">49</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-50" class="tr-rank tr-even tr-p4 tr-last-group">
                                    <td class="rank-no">50</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-51" class="tr-rank tr-odd tr-p4 tr-last-group">
                                    <td class="rank-no">51</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-52" class="tr-rank tr-even tr-p4 tr-last-group">
                                    <td class="rank-no">52</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-53" class="tr-rank tr-odd tr-p4 tr-last-group">
                                    <td class="rank-no">53</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                </tr>
                                <tr id="tr-rank-54" class="tr-rank tr-even tr-p4 tr-last-group">
                                    <td class="rank-no">54</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-55" class="tr-rank tr-odd tr-p4 tr-last-group">
                                    <td class="rank-no">55</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-56" class="tr-rank tr-even tr-p4 tr-last-group">
                                    <td class="rank-no">56</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-57" class="tr-rank tr-odd tr-p4 tr-last-group">
                                    <td class="rank-no">57</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-58" class="tr-rank tr-even tr-p4 tr-last-group">
                                    <td class="rank-no">58</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-59" class="tr-rank tr-odd tr-p4 tr-last-group">
                                    <td class="rank-no">59</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-60" class="tr-rank tr-even tr-p4 tr-last-group">
                                    <td class="rank-no">60</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-61" class="tr-rank tr-odd tr-p4 tr-last-group">
                                    <td class="rank-no">61</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-62" class="tr-rank tr-even tr-p4 tr-last-group">
                                    <td class="rank-no">62</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-63" class="tr-rank tr-odd tr-p4 tr-last-group">
                                    <td class="rank-no">63</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-64" class="tr-rank tr-even tr-p4 tr-last-group">
                                    <td class="rank-no">64</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-65" class="tr-rank tr-odd tr-p4 tr-last-group">
                                    <td class="rank-no">65</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>
                                <tr id="tr-rank-66" class="tr-rank tr-even tr-p4 tr-last-group">
                                    <td class="rank-no">66</td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"></td>
                                    <td class="rank-vote"></td>
                                </tr>

                            </table>
                        </div>
                        <div class="table-page-wrapper">
                            <ul>
                                <li>
                                    <button id="p1">TOP16</button>
                                    <button id="p2">17-32</button>
                                    <button id="p3">33-48</button>
                                    <button id="p4">49-66</button>
                                    <button id="p-more" onclick="window.open({% url 'member' %})">更 多</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-wrapper">
                <div class="ad-wrapper">
                    <div class="banner-group" id="banner-group">
                        <ul class="banner-ul" id="banner-ul">
                            <li>
                                <a href="https://zhongchou.modian.com/item/47181.html" target="_blank">
                                    <img src="{% static 'images/banner/banner1.jpg' %}" alt="">
                                    <!--<img src="../dist/images/banner/banner1.jpg" alt="">-->
                                </a>
                            </li>
                            <li>
                                <a href="https://zhongchou.modian.com/item/46311.html" target="_blank">
                                    <img src="{% static 'images/banner/banner2.jpg' %}" alt="">
                                    <!--<img src="../dist/images/banner/banner2.jpg" alt="">-->
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static 'images/banner/banner3.jpg' %}" alt="">
                                    <!--<img src="../dist/images/banner/banner3.jpg" alt="">-->
                                </a>
                            </li>
                            <li>
                                <a href="https://zhongchou.modian.com/item/43740.html">
                                    <img src="{% static 'images/banner/banner4.jpg' %}" alt="">
                                    <!--<img src="../dist/images/banner/banner4.jpg" alt="">-->
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static 'images/banner/banner5.jpg' %}" alt="">
                                    <!--<img src="../dist/images/banner/banner5.jpg" alt="">-->
                                </a>
                            </li>
                        </ul>
                        <span class="arrow left-arrow">‹</span>
                        <span class="arrow right-arrow">›</span>
                        <div class="page-control-group">
                            <ul class="page-control"></ul>
                        </div>
                    </div>
                </div>

                <div class="pk-wrapper">
                    <button class="detail-pk" onclick="window.open({% url 'pk' %})">更多</button>
                    <div id="pk" class="inner-pk-wrapper"></div>
                </div>
            </div>

        </div>
    </div>

    <script src="{% static '/js/figure_control.min.js' %}"></script>
{% endblock %}