<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list demo</title>
</head>
<body>

    <tr id="tr-rank-1" class="tr-rank tr-odd">
                                <td class="rank-no">17</td>
                                <td class="rank-member">{{ rank1.member }}</td>
                                <td class="rank-account">{{ rank1.real_amount }}</td>
                            </tr>
                            <tr id="tr-rank-2" class="tr-rank tr-even">
                                <td class="rank-no">18</td>
                                <td class="rank-member">{{ rank2.member }}</td>
                                <td class="rank-account">{{ rank2.real_amount }}</td>
                            </tr>
                            <tr id="tr-rank-3" class="tr-rank tr-odd">
                                <td class="rank-no">19</td>
                                <td class="rank-member">{{ rank3.member }}</td>
                                <td class="rank-account">{{ rank3.real_amount }}</td>
                            </tr>
                            <tr id="tr-rank-4" class="tr-rank tr-even">
                                <td class="rank-no">20</td>
                                <td class="rank-member">陆婷</td>
                                <td class="rank-account">7000000</td>
                            </tr>
                            <tr id="tr-rank-5" class="tr-rank tr-odd">
                                <td class="rank-no">21</td>
                                <td class="rank-member">莫寒</td>
                                <td class="rank-account">6000000</td>
                            </tr>
                            <tr id="tr-rank-6" class="tr-rank tr-even">
                                <td class="rank-no">22</td>
                                <td class="rank-member">赵粤</td>
                                <td class="rank-account">5000000</td>
                            </tr>
                            <tr id="tr-rank-7" class="tr-rank tr-odd">
                                <td class="rank-no">23</td>
                                <td class="rank-member">许佳琪</td>
                                <td class="rank-account">3000000</td>
                            </tr>
                            <tr id="tr-rank-8" class="tr-rank tr-even">
                                <td class="rank-no">24</td>
                                <td class="rank-member">戴萌</td>
                                <td class="rank-account">3000000</td>
                            </tr>
                            <tr id="tr-rank-9" class="tr-rank tr-odd">
                                <td class="rank-no">25</td>
                                <td class="rank-member">钱蓓婷</td>
                                <td class="rank-account">3000000</td>
                            </tr>
                            <tr id="tr-rank-10" class="tr-rank tr-even">
                                <td class="rank-no">26</td>
                                <td class="rank-member">吴哲晗</td>
                                <td class="rank-account">3000000</td>
                            </tr>
                            <tr id="tr-rank-11" class="tr-rank tr-odd">
                                <td class="rank-no">27</td>
                                <td class="rank-member">谢蕾蕾</td>
                                <td class="rank-account">3000000</td>
                            </tr>
                            <tr id="tr-rank-12" class="tr-rank tr-even">
                                <td class="rank-no">28</td>
                                <td class="rank-member">孔肖吟</td>
                                <td class="rank-account">3000000</td>
                            </tr>
                            <tr id="tr-rank-13" class="tr-rank tr-odd">
                                <td class="rank-no">29</td>
                                <td class="rank-member">苏杉杉</td>
                                <td class="rank-account">3000000</td>
                            </tr>
                            <tr id="tr-rank-14" class="tr-rank tr-even">
                                <td class="rank-no">30</td>
                                <td class="rank-member">段艺璇</td>
                                <td class="rank-account">3000000</td>
                            </tr>
                            <tr id="tr-rank-15" class="tr-rank tr-odd">
                                <td class="rank-no">31</td>
                                <td class="rank-member">林思意</td>
                                <td class="rank-account">3000000</td>
                            </tr>
                            <tr id="tr-rank-16" class="tr-rank tr-even">
                                <td class="rank-no">32</td>
                                <td class="rank-member">林思意</td>
                                <td class="rank-account">3000000</td>
                            </tr>


</body>
</html>