{% extends 'base.html' %}

{% block title %}饺子榜-登录{% endblock %}

{% block main %}

    <link rel="stylesheet" href="{% static '/css/login.min.css' %}">

    <div class="main">
        <div class="login-inner-main-wrapper">
            <div class="login-center-wrapper">
                <div class="login-title">SNH48-饺子榜<br>登&nbsp;&nbsp;录</div>
                <div class="login-wrapper">
                    <form action="" class="login-form">
                        <input type="text" name="username" class="username-input login-input" placeholder="  用戶名/昵称"><br>
                        <input type="password" name="password" class="password-input login-input" placeholder="  密码"><br>
                        <span class="remember-me"><input type="checkbox">记住我</span>
                        <button name="login-btn">登 录</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}