{% extends 'base.html' %}

{% block title %}饺子榜-集资日增{% endblock %}

{% block main %}

    <link rel="stylesheet" href="{% static '/css/login.min.css' %}">

    <div class="main">
        <div class="inner-main-wrapper">
            <div class="center-wrapper">
                <div class="login-title">登录</div>
                <div class="login-wrapper">
                    <form action="" class="login-form">
                        <table>
                            <tr>
                                <td>用户名</td>
                                <td><input type="text" placeholder="请输入用户名"></td>
                            </tr>
                            <tr>
                                <td>密码</td>
                                <td><input type="password" placeholder="请输入密码"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>记住我</td>
                            </tr>
                        </table>
                    </form>
                    <button id="login-btn">登录</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}