{% extends 'base.html' %}


{% block title %}饺子榜-集资分布{% endblock %}


{% block main %}
    <link rel="stylesheet" href="{% static '/css/percentage.min.css' %}">

    <div class="main">
        <div class="inner-main-wrapper">
            <div class="percentage-wrapper">
                <div id="percentage" class="inner-percentage-wrapper"></div>
            </div>
            <div class="top-member-wrapper">
                <div id="top-member" class="inner-top-member-wrapper"></div>
            </div>
        </div>
    </div>

    <script src="{% static '/js/percentage.min.js' %}"></script>

{% endblock %}