{% extends 'base.html' %}

{% block title %}饺子榜-分团TOP16{% endblock %}

{% block main %}
    <link rel="stylesheet" href="{% static '/css/sister_theaters.min.css' %}">
    <div class="main">
        <div class="sister-theaters-main-wrapper">
            <div id="sister-theaters-wrapper" class="sister-theaters-inner-main-wrapper">
                <div class="title">分团TOP 16</div>
                <div class="sub-wrapper">
                    <div id="BEJ48-top16-wrapper" class="top16-wrapper"></div>
                    <div id="BEJvsGNZ-wrapper" class="top16-wrapper">
                        <div class="inner-BEJvsGNZ-wrapper">
                            <div class="table-title">
                                <div class="inner-table-title">
                                     <span class="total-amount-txt">分团选拔</span>
                                </div>
                            </div>
                            <div class="table-wrapper">
                            <table class="main-table-s">
                                <tr class="table-head">
                                    <th>排名</th>
                                    <th>姓名</th>
                                    <th>集资总额</th>
                                </tr>
                                <tr id="tr-rank-1" class="tr-rank tr-odd">
                                    <td class="rank-no"><div class="rank-div">1</div></td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"><div class="account-div"></div></td>
                                </tr>
                                <tr id="tr-rank-2" class="tr-rank tr-even">
                                    <td class="rank-no"><div class="rank-div">2</div></td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"><div class="account-div"></div></td>
                                </tr>
                                <tr id="tr-rank-3" class="tr-rank tr-odd">
                                    <td class="rank-no"><div class="rank-div">3</div></td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"><div class="account-div"></div></td>
                                </tr>
                                <tr id="tr-rank-4" class="tr-rank tr-even">
                                    <td class="rank-no"><div class="rank-div">4</div></td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"><div class="account-div"></div></td>
                                </tr>
                                <tr id="tr-rank-5" class="tr-rank tr-odd">
                                    <td class="rank-no"><div class="rank-div">5</div></td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"><div class="account-div"></div></td>
                                </tr>
                                <tr id="tr-rank-6" class="tr-rank tr-even">
                                    <td class="rank-no"><div class="rank-div">6</div></td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"><div class="account-div"></div></td>
                                </tr>
                                <tr id="tr-rank-7" class="tr-rank tr-odd">
                                    <td class="rank-no"><div class="rank-div">7</div></td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"><div class="account-div"></div></td>
                                </tr>
                                <tr id="tr-rank-8" class="tr-rank tr-even">
                                    <td class="rank-no"><div class="rank-div">8</div></td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"><div class="account-div"></div></td>
                                </tr>
                                <tr id="tr-rank-9" class="tr-rank tr-odd">
                                    <td class="rank-no"><div class="rank-div">9</div></td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"><div class="account-div"></div></td>
                                </tr>
                                <tr id="tr-rank-10" class="tr-rank tr-even">
                                    <td class="rank-no"><div class="rank-div">10</div></td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"><div class="account-div"></div></td>
                                </tr>
                                <tr id="tr-rank-11" class="tr-rank tr-odd">
                                    <td class="rank-no"><div class="rank-div">11</div></td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"><div class="account-div"></div></td>
                                </tr>
                                <tr id="tr-rank-12" class="tr-rank tr-even">
                                    <td class="rank-no"><div class="rank-div">12</div></td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"><div class="account-div"></div></td>
                                </tr>
                                <tr id="tr-rank-13" class="tr-rank tr-odd">
                                    <td class="rank-no"><div class="rank-div">13</div></td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"><div class="account-div"></div></td>
                                </tr>
                                <tr id="tr-rank-14" class="tr-rank tr-even">
                                    <td class="rank-no"><div class="rank-div">14</div></td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"><div class="account-div"></div></td>
                                </tr>
                                <tr id="tr-rank-15" class="tr-rank tr-odd">
                                    <td class="rank-no"><div class="rank-div">15</div></td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"><div class="account-div"></div></td>
                                </tr>
                                <tr id="tr-rank-16" class="tr-rank tr-even">
                                    <td class="rank-no"><div class="rank-div">16</div></td>
                                    <td class="rank-member"></td>
                                    <td class="rank-account"><div class="account-div"></div></td>
                                </tr>
                            </table>
                        </div>
                        </div>
                    </div>
                    <div id="GNZ48-top16-wrapper" class="top16-wrapper"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/sister_theaters.min.js' %}"></script>
{% endblock %}