<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
   <body style="height: 100%; margin: 0; background: #121A20">
       <div id="container" style="height: 100%"></div>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <!--<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=xfhhaTThl11qYVrqLZii6w8qE5ggnhrY&__ec_v__=20190126"></script>-->
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
       <script type="text/javascript">
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        var data = [{
            /*
                $colorSNH48: #00b6de;
                $colorBEJ48: #ff4083;
                $colorGNZ48: #9FBF40;
                $colorSII: #00b6de;
                $colorNII: #9e57b4;
                $colorHII: #f8941d;
                $colorX: #b1d61b;
                $colorB: #ff4083;
                $colorE: #0cc8c3;
                $colorJ: #006ab7;
                $colorG: #9FBF40;
                $colorNIII: #ffe249;
                $colorZ: #ea617b;
                $colorMember: #eeeeee;
            */

            // SNH48
            name: 'SNH48',
            itemStyle: {
                color: '#00b6de'
            },
            children: [{ // Team SII
                name: 'Team SII',
                itemStyle: {
                    color: '#00b6de'
                },
                children: [{ // 莫寒
                    name: '莫寒',
                    value: 1.12,
                    itemStyle: {
                        // color: '#C0DAFF'
                    }
                }, { // 许佳琪
                    name: '许佳琪',
                    value: 1,
                    itemStyle: {
                        // color: '#C0DAFF'
                    }
                }, { // 戴萌
                    name: '戴萌',
                    value: 1,
                    itemStyle: {
                        // color: '#f7f1bd'
                    }
                }, { // 钱蓓婷
                    name: '钱蓓婷',
                    value: 1,
                    itemStyle: {
                        // color: '#f7f1bd'
                    }
                }, { // 吴哲晗
                    name: '吴哲晗',
                    value: 1,
                    itemStyle: {
                        // color: '#f7f1bd'
                    }
                }, { // 孔肖吟
                    name: '孔肖吟',
                    value: 1,
                    itemStyle: {
                        // color: '#f7f1bd'
                    }
                }, { // 张语格
                    name: '张语格',
                    value: 1,
                    itemStyle: {
                        // color: '#f7f1bd'
                    }
                }, { // 其他
                    name: '其他',
                    value: 2,
                    itemStyle: {
                        // color: '#f7f1bd'
                    }
                }]
            }, { // Team NII
                name: 'Team NII',
                itemStyle: {
                    color: '#9e57b4'
                },
                children: [{ // 黄婷婷
                    name: '黄婷婷',
                    value: 1,
                    itemStyle: {
                        // color: '#f99e1c'
                    }
                }, { // 冯薪朵
                    name: '冯薪朵',
                    value: 1,
                    itemStyle: {
                        // color: '#ef5a78'
                    }
                }, { // 陆婷
                    name: '陆婷',
                    value: 1,
                    itemStyle: {
                        // color: '#f7f1bd'
                    }
                }, { // 赵粤
                    name: '赵粤',
                    value: 1,
                    itemStyle: {
                        // color: '#f7f1bd'
                    }
                }, { // 易嘉爱
                    name: '易嘉爱',
                    value: 1,
                    itemStyle: {
                        // color: '#f7f1bd'
                    }
                }, { // 其他
                    name: '其他',
                    value: 1,
                    itemStyle: {
                        // color: '#f7f1bd'
                    }
                }]
            }, { // Team HII
                name: 'Team HII',
                itemStyle: {
                    color: '#f8941d'
                },
                children: [{ // 李艺彤
                    name: '李艺彤',
                    value: 1,
                    itemStyle: {
                        // color: '#f99e1c'
                    }
                }, { // 林思意
                    name: '林思意',
                    value: 1,
                    itemStyle: {
                        // color: '#ef5a78'
                    }
                }, { // 万丽娜
                    name: '万丽娜',
                    value: 1,
                    itemStyle: {
                        // color: '#f7f1bd'
                    }
                }, { // 费沁源
                    name: '费沁源',
                    value: 1,
                    itemStyle: {
                        // color: '#f7f1bd'
                    }
                }, { // 姜杉
                    name: '姜杉',
                    value: 1,
                    itemStyle: {
                        // color: '#f7f1bd'
                    }
                }, { // 其他
                    name: '其他',
                    value: 1,
                    itemStyle: {
                        // color: '#f7f1bd'
                    }
                }]
            }, { // Team X
                name: 'Team X',
                itemStyle: {
                    color: '#b1d61b'
                },
                children: [{ // 宋昕冉
                    name: '宋昕冉',
                    value: 1,
                    itemStyle: {
                        // color: '#f99e1c'
                    }
                }, { // 杨冰怡
                    name: '杨冰怡',
                    value: 1,
                    itemStyle: {
                        // color: '#ef5a78'
                    }
                }, { // 张丹三
                    name: '张丹三',
                    value: 1,
                    itemStyle: {
                        // color: '#f7f1bd'
                    }
                }, { // 其他
                    name: '其他',
                    value: 1,
                    itemStyle: {
                        // color: '#f7f1bd'
                    }
                }]
            }]
        }, {

            // BEJ48
            name: 'BEJ48',
            itemStyle: {
                color: '#ff4083'
            },
            children: [{ // Team B
                name: 'Team B',
                itemStyle: {
                    color: '#ff4083'
                },
                children: [{ // 段艺璇
                    name: '段艺璇',
                    value: 1,
                    itemStyle: {
                        // color: '#3e0317'
                    }
                }, { // 胡晓慧
                    name: '胡晓慧',
                    value: 1,
                    itemStyle: {
                        // color: '#e62969'
                    }
                }, { // 其他
                    name: '其他',
                    value: 1,
                    itemStyle: {
                        // color: '#6569b0'
                    }
                }]
            }, { // Team E
                name: 'Team E',
                itemStyle: {
                    color: '#0cc8c3'
                },
                children: [{ // 苏杉杉
                    name: '苏杉杉',
                    value: 1,
                    itemStyle: {
                        // color: '#b53b54'
                    }
                }, { // 冯思佳
                    name: '冯思佳',
                    value: 1,
                    itemStyle: {
                        // color: '#a5446f'
                    }
                }, { // 其他
                    name: '其他',
                    value: 1,
                    itemStyle: {
                        // color: '#a5446f'
                    }
                }]
            }, {
                // Team J
                name: 'Team J',
                itemStyle: {
                    color: '#006ab7'
                },
                children: [{ // 韩家乐
                    name: '韩家乐',
                    value: 1,
                    itemStyle: {
                        // color: '#f2684b'
                    }
                }, { // 张怀瑾
                    name: '张怀瑾',
                    value: 1,
                    itemStyle: {
                        // color: '#e73451'
                    }
                }, { // 黄恩茹
                    name: '黄恩茹',
                    value: 1,
                    itemStyle: {
                        // color: '#e65656'
                    }
                }, { // 其他
                    name: '其他',
                    value: 1,
                    itemStyle: {
                        // color: '#f89a1c'
                    }
                }]
            }]
        }, {

            //GNZ48
            name: 'GNZ48',
            itemStyle: {
                color: '#9FBF40'
            },
            children: [{ // Team G
                name: 'Team G',
                itemStyle: {
                    color: '#9FBF40'
                },
                children: [{ // 谢蕾蕾
                    name: '谢蕾蕾',
                    value: 1,
                    itemStyle: {
                        // color: '#9ea718'
                    }
                }, { // 陈珂
                    name: '陈珂',
                    value: 1,
                    itemStyle: {
                        // color: '#94a76f'
                    }
                }, { // 张琼予
                    name: '张琼予',
                    value: 1,
                    itemStyle: {
                        // color: '#d0b24f'
                    }
                }, { // 其他
                    name: '其他',
                    value: 1,
                    itemStyle: {
                        // color: '#8eb646'
                    }
                }]
            }, { // Team NIII
                name: 'Team NIII',
                itemStyle: {
                    color: '#ffe249'
                },
                children: [{ // 郑丹妮
                    name: '郑丹妮',
                    value: 1,
                    itemStyle: {
                        // color: '#8f1c53'
                    }
                }, { // 刘力菲
                    name: '刘力菲',
                    value: 1,
                    itemStyle: {
                        // color: '#b34039'
                    }
                }, { // 卢静
                    name: '卢静',
                    value: 1,
                    itemStyle: {
                        // color: '#ba9232'
                    }
                }, { // 其他
                    name: '其他',
                    value: 1,
                    itemStyle: {
                        // color: '#8b6439'
                    }
                }]
            }, { // Team Z
                name: 'Team Z',
                itemStyle: {
                    color: '#ea617b'
                },
                children: [{ // 杨媛媛
                    name: '杨媛媛',
                    value: 5,
                    itemStyle: {
                        // color: '#8f1c53'
                    }
                }, { // 杜秋霖
                    name: '杜秋霖',
                    value: 1,
                    itemStyle: {
                        // color: '#b34039'
                    }
                }, { // 梁婉琳
                    name: '梁婉琳',
                    value: 1,
                    itemStyle: {
                        // color: '#ba9232'
                    }
                }, { // 余芷媛
                    name: '余芷媛',
                    value: 1,
                    itemStyle: {
                        // color: '#8b6439'
                    }
                }, { // 其他
                    name: '其他',
                    value: 1,
                    itemStyle: {
                        // color: '#8b6439'
                    }
                }]
            }]
        }];

        option = {
            title: {
                text: '集资分布',
                subtext: '点击圆环查看各分团/队伍的集资分布详情\n点击圆心返回上一级',
                textStyle: {
                    fontSize: 14,
                    align: 'center'
                },
                subtextStyle: {
                    align: 'center'
                },
            },
            tooltip: {
                trigger: 'item',
                // formatter: "{b}: {c} ({d}%)",
                formatter: function (params) {
                    // console.log(params);
                    return params.name + "<br/>" + "集资总额: " + params.value.toFixed(2);  // Reserve 2 decimals.
                }
            },
            series: {
                type: 'sunburst',
                highlightPolicy: 'ancestor',
                data: data,
                itemStyle: {
                    color: '#999999',
                    borderWidth: 0,
                },
                radius: [0, '95%'],
                sort: null,
                levels: [{}, {
                    r0: '15%',
                    r: '35%',
                    itemStyle: {
                        borderWidth: 3
                    },
                    label: {
                        rotate: 'tangential'
                    }
                }, {
                    r0: '40%',
                    r: '65%',
                    itemStyle: {
                        borderWidth: 2
                    },
                    label: {
                        align: 'right'
                    }
                }, {
                    r0: '70%',
                    r: '75%',
                    label: {
                        position: 'outside',
                        padding: 3,
                        silent: false
                    },
                    itemStyle: {
                        borderWidth: 1
                    }
                }]
            }
        };

        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
       </script>
   </body>
</html>